version: '3.1'
services:
  haproxycfg:
    image: haproxy:2.6
    volumes:
      - ./haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg
    ports:
      - 80:80
      - 1936:1936
    restart: always
  servernuevo1:
    image: nginx
    ports:
      - 8081:80
    volumes:
      - ./new_html:/usr/share/nginx/html 
    restart: always
  servernuevo2:
    image: nginx
    ports:
      - 8082:80
    volumes:
      - ./new_html:/usr/share/nginx/html 
    restart: always
  serverviejo:
    image: nginx
    ports:
      - 8083:80
    volumes:
      - ./old_html:/usr/share/nginx/html  
    restart: always